@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --placeholder: 1;
    --cor-destaque: #263138;
    --Texto: #445964;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FBFBFB;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    max-width: 100vw;
    overflow-x: hidden;
}
